<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forgot.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <form method="POST" action="{% url 'forgot_password' %}" class="needs-validation" novalidate="">
                {% csrf_token %}
                <h2>Forgot Password?</h2>
                <label for="email">EMAIL</label>
                <input type="email" id="email" name="email" placeholder="Email" class="input-field">
                <button type="submit" class="reset-password-btn">RESET PASSWORD</button>
            </form>
        </div>
        <div class="right-panel">
            <h1>Welcome to GenSQL</h1>
            <p>Already have an account?</p>
            <a href="{% url 'login' %}" class="sign-in">Sign In</a>
        </div>
    </div>
</body>
</html>
