<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static  'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
     <div class="login-page">

        <div class="left-panel">
                <form method="POST" action="{% url 'login' %}" class="needs-validation" novalidate="">
                     {% csrf_token %}
            <h2>Sign In</h2>
            <label for="username">USERNAME</label>
            <input type="text" id = "username"name="username" placeholder="Username">
            <label for="password">PASSWORD</label>
            <input type="password" id = "password" name="password" placeholder="Password">
           <button type="submit" class="sign-up">Sign in</button>
             <a href="{% url 'forgot_password' %}" class="forgot-password">Forgot Password</a>
                </form>
        </div>
        <div class="right-panel">
            <h1>Welcome to GenSQL</h1>
            <p>Don’t have an account?</p>
            <a href="{% url 'register' %}" class="sign-up">Sign Up</a>
        </div>
    </div>
</body>
</html>