<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Reset Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static  'css/register.css' %}">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
      <div class="container">

        <div class="left-panel">
            <h2>Sign Up</h2>
            {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            <form method="POST" action="{% url 'fp-otp' %}" class="needs-validation" >
                     {% csrf_token %}
            <label for="otp" name="otp">OTP</label>
            <input type="text" name ="otp" id="OTP" placeholder="OTP">

           <button type="submit" class="reset_password">Reset Password</button>
            </form>
        </div>
        <div class="right-panel">
            <h1>Welcome to GenSQL</h1>
            <p>Already have an account?</p>
            <a href="{% url 'login' %}" class="sign-in">Sign In</a>
        </div>
    </div>

</body>
</html>